---
export const prerender = false;
import Layout from "../layouts/Layout.astro";

import FamilyTreeComponent from "../components/FamilyTree";
const tree = {
    id: 100,
    person: {
        id: 100,
        // avatar: avatarPersonnel,
        department: "",
        name: "Henry monger",
        title: "Manager",
        totalReports: 3,
    },
    hasChild: true,
    hasParent: true,
    children: [],
};
---

<Layout title="The Chow Clan">
    <main>
        <h2>The <span class="text-gradient">Chow-Lee</span> Family Tree</h2>
        <FamilyTreeComponent client:only="react" tree={tree} />
        <!-- <div slot="fallback">Loading</div> -->
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
