---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { createClient } from "../lib/supabase";

const user = (Astro.locals as any).user;

const supabase = createClient(Astro);
const { data: profiles, error } = await supabase
    .from("profiles")
    .select("email");
console.log("Query data", profiles, error);

console.log("Rendering the profile page");
---

<Layout title="Your Profile">
    <main>
        <h1>Your Profile</h1>

        <section>
            <Card title="Personal Information">
                <form id="personal-info">
                    <fieldset>
                        <div class="row">
                            <label for="email">Email</label>
                            <span id="email">{user.email}</span>
                        </div>

                        <div class="row">
                            <label for="name">Name</label>
                            <input id="name" type="text" required />
                        </div>

                        <div class="row">
                            <label for="name">Birth Date</label>
                            <input id="birth_date" type="date" />
                        </div>

                        <div class="row">
                            <div></div>
                            <input id="submit" type="submit" value="Save" />
                        </div>
                    </fieldset>
                </form>
            </Card>
        </section>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 100vh;
        padding: 2rem;
    }

    h1,
    h2,
    h3,
    h4 {
        color: white;
    }

    h1 {
        margin-bottom: 2rem;
        text-align: center;
    }

    form {
        font-family: monospace;
        font-size: 1.2rem;

        fieldset {
            display: flex;
            flex-direction: column;
        }

        label {
            font-size: 1.3rem;
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
        }

        input[type="email"],
        input[type="text"],
        input[type="date"] {
            width: 60%;
            text-align: right;
            font-family: monospace;
            font-size: 1.2rem;
        }

        input[type="submit"] {
            font-family: monospace;
            font-size: 1.2rem;
            width: 40%;

            &:hover {
                background-color: rgb(82, 157, 223);
            }
            &:active {
                background-color: rgb(18, 129, 225);
                color: white;
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 600px;
        width: 100%;
    }

    :global(.card) {
        width: 100%;
    }
</style>
