---
import Header from "../components/Header.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent-light: 253, 221, 230;
        --accent: 215, 60, 55;
        --accent-dark: 181, 31, 9;
        --accent-two: 225, 178, 0;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent-dark)),
            rgb(var(--accent)) 15%,
            rgb(var(--accent-light)) 40%,
            rgb(var(--font-color-light)) 60%
        );
        --base-bg: 250, 235, 215;
        --font-color: 30, 30, 30;
        --font-color-light: 255, 240, 217;
    }
    html {
        font-family: system-ui, sans-serif;
        color: rgb(var(--font-color));
        background: rgb(var(--base-bg));
    }

    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
